// VARIABLES 

$color_primary: ;
$color_primary_bold: ;
$color_alternative: ;
$color_strong: ;

$bg_btn: ;
$bg_btn_hover: ;
$bg_btn_social: ;
$bg_btn_alternative: ;

$bg_header: ;
$bg_section: ;
$bg_footer: ;
$bg_popup: ;
$bg_form: ;


$font_family_primary: 'HelveticaNeue';
$font_family_title: 'Acrom';
$font_family_logo:  'ShadowsIntoLightTwo-Regular';

$font_size_primary: ;
$font_size_logo: $font_size_primary + ;
$font_size_h1: $font_size_primary + ;
$font_size_h2: $font_size_primary + ;
$font_size_h3: $font_size_primary + ;
$font_size_btn: $font_size_primary - ;

