<head>
  <title>Document</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="og:image" content="img/social.png">
  <meta name="robots" content="index, follow">
  
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/style.min.css">
  
  <!--  fonts  -->
    <!-- add fonts here -->
  <!--  end fonts  -->	
  
  <!--  scripts  -->
  <script src="js/script.min.js" defer></script>
  <!--  end scripts  -->
</head>